@import '../../assets/styles/responsive.scss';

body {
  overflow-x: hidden;
}
.appbar {
  margin-bottom: 40px;
}
.nav-wrapper {
  justify-content: space-between;
  @include mobile() {
    width: 100vw;
  }
  > div {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
}
.iconButton {
  display: none;
  @include mobile() {
    display: block;
  }
}
ul.menuMain {
  display: flex;
  @include mobile() {
    display: none;
  }
}